* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Mono', monospace;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px 0px;
    gap: 16px;
}

article {
    width: 300px;
    height: 300px;
    border: solid 1px #cac9c9;
    text-align: center;
    box-shadow: 1px 1px 6px #cac9c9;
}

.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    background-color: #f1f1f1;
}

.container-img img {
    width: 30%;
    border-radius: 50%;
}

.container-info {
    display: flex;
    flex-direction: column;
    height: 60%;
    gap: 8px;
    justify-content: center;
    align-items: center
}
.nombre {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
}
.titulo {
    font-size: 1rem;
    color: gray;
    line-height: 1;
}

.container-info button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 150px;
    height: 25px;
    border: none;
    background-color: rgb(87, 87, 252);
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    cursor: pointer;
}

.container-info .icon-btn {
    display: inline-block;
    background-image: url("../img/user-plus.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 20px;
    height: 20px;
}